* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}

body {
    background-color:gainsboro;
}

h1 {
    text-align: center;
}

/* Positioning */
.recipe-box {  
    position: fixed;
    inset: 0;
    width: 15em;
    height: 15em;
    margin: auto;
}

/* Styling */
.recipe-box {
    background-color: lightslategray;
    text-align: center;
    border-radius: 2em;
}

ul {
    list-style-type: none; 
    padding-left: 0;
    
}

.recipe-box a{
    color: black;
}