* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}

body {
    background-color:gainsboro;
}

h1 {
    text-align: center;
}

/* Positioning */
.recipe-box {  
    width: 25em;
    height: 12em;
    margin: auto;
    padding: 1em;
}

/* Styling */
.recipe-box {
    background-color: lightslategray;
    text-align: center;
    border-radius: 2em;
}

ul {
    list-style-type: none; 
    padding-left: 0;
}

.recipe-box a{
    color: black;
}