* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}

body {
    background-color:gainsboro;
}

h1 {
    text-align: center;
}

.recipe-box {
    text-align: center;
    background-color: rgb(206, 206, 206);
    padding: .5em;
    width: 60%;
    margin: 0 auto;
    border-radius: 2em;
}

ul {
    list-style-type: none; 
    padding-left: 0;
}

li {
    display: inline-block;
    background-color: lightslategray;
    padding: 1.5em;
    border-radius: 1em;
    margin: .5em;
    /* width: 25%; */
}

.recipe-box a{
    color: black;
}
